.stat-inner {
    border-radius: 0.4em;
    padding: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: #f1f1f1;
}
.stat-outer {
    padding: 1em;
    max-width: 60ch;
}
.OK {
    background: #d6ff788a;
}
.notOK {
    background-color: #d17875;
}
.OKcheck {
    animation-name: throb;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.status {
    margin: 0.1em;
    padding: 0.3em;
    border-radius: 0.2em;
    margin-right: 0.3em;
    min-width: 1.8em;
    text-align: center;
}
.next-lines {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.5em;
}

.url-string {
    width: 100%;
    margin: 0.1em;
    padding: 0.3em;
    border-radius: 0.2em;
    color: #d17875;
    background: #ffffff;
}

@keyframes throb {
    0% {background-color: #ffaa00;}
    50% {background-color: #ffea7b;}
    100% {background-color: #ffaa00;}
}
